<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/stars.css">

<div class="row">
    <div class="col-6">

        <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <% camp.images.forEach((img, i) => { %>
              <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                <img class="d-block w-100" src="<%= img.url %>" alt="">
              </div>
            <% }) %>
            </div>
            <% if (camp.images.length > 1) { %>
            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <% } %>
          </div>
        
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= camp.location %></h6>
                <p class="card-text"><%= camp.description %></p>
                <p class="card-text">$<%= camp.price %>/night</p>
                <p class="card-text mb-2 text-muted">Submitted by: <%= camp.author.username %></p>
                <!-- <a class="btn btn-success card-link">Book this campground!</a> -->
                <% if ( currentUser && camp.author.equals(currentUser._id)) { %>
                <a class="btn btn-primary card-link" href="/campgrounds/<%= camp._id %>/edit">Edit this campground</a>
                <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger card-link">Delete this campground?!</button>
                </form>
                <% } %>
            </div>
            <div class="card-footer text-center text-muted">
                <a class="card-link" href="/campgrounds">Back to all camps</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="map"></div>
        <% if (currentUser) { %>
        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%= camp._id %>/reviews" method="post" class="mb-3 needs-validation" novalidate>
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="3" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <div>
                <button class="btn btn-success" type="submit">Submit Review</button>
            </div>
        </form>
        <% } %>
        <% for(let review of camp.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <div class="mb-2">
                    <span class="card-title">Rating: </span>
                    <span class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %>
                    </span>
                </div>
                <p class="card-subtitle my-2 text-muted">Submitted by: <%= review.author.username %></p>
                <p class="card-text"><%= review.body %></p>
                <% if ( currentUser && review.author.equals(currentUser._id)) { %>
                <form class="d-inline" action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger card-link">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const camp = <%- JSON.stringify(camp) %>
</script>

<script src="/js/detailsPageMap.js"></script>