<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>

<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Create New Campground</a>
<% for (let camp of camps) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="<%= camp.images[0].url %>" alt="">
            </div>
            <div class="col-md-8">
                <h5 class="card-title"><%= camp.title %></h5>
                <p class="card-text"><%= camp.description %></p>
                <p>
                    <small class="text-muted"><%= camp.location %></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">View <%= camp.title %></a>
            </div>
        </div>
    </div>
<% } %>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const camps = {features: <%- JSON.stringify(camps) %>}
</script>

<script src="/js/clusterMap.js"></script>